<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.termilink.agent</string>

    <key>ProgramArguments</key>
    <array>
        <string>/PATH/TO/termilink</string>
        <string>start</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/PATH/TO/DIR/WITH/config.yaml</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/termilink.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/termilink.err.log</string>
</dict>
</plist>